In [1]:
#String
string = "I am a string"
print(string)

#String Concatenation
first_name = "Durga"
last_name = "Prasad"
full_name = first_name + " " + last_name
print(full_name)

#String Methods - upper()
text = "Durga"
print(text.upper())

#lower()
text = "prasad"
print(text.lower())

#replace()
sentence = "I am durga"
print(sentence.replace("durga", "prasad"))

#split()
data = "Rahulannaa"
fruits = data.split(",")
print(fruits)

#capitalize()
text = "Rahul Dravid"
print(text.capitalize())

#title()
text = "welcome to my world"
print(text.title())

#strip()
text = "   Rahu   "
print(text.strip())

#find()
text = "Rahul Swamy Siva Govind"
print(text.find("Swamy"))

#count()
text = "apple apple banana"
print(text.count("apple"))

#startswith() and endswith()
text = "hello world"
print(text.startswith("hello"))
print(text.endswith("world"))

#join()
words = ['tarun maya', 'is', 'Cool Guy']
sentence = " ".join(words)
print(sentence)

I am a string
Durga Prasad
DURGA
prasad
I am prasad
['Rahulannaa']
Rahul dravid
Welcome To My World
Rahu
6
2
True
True
tarun maya is Cool Guy

Arithmetic Operations in python

In [2]:
a = 4
b = 2

print(a + b)
print(a - b)
print(a * b)
print(a / b)
print(a % b)
print(a ** b)
print(a // b)

6
2
8
2.0
0
16
2

Relational Operators

In [3]:
x = 5
y = 8

print(x == y)
print(x != y)
print(x > y)
print(x < y)
print(x >= y)
print(x <= y)

False
True
False
True
False
True

Assignment Operators

In [4]:
x = 5

x += 2
print(x)

x -= 1
print(x)

x *= 3
print(x)

x /= 2
print(x)

x %= 4
print(x)

x //= 2
print(x)

x **= 3
print(x)

7
6
18
9.0
1.0
0.0
0.0

Boolean operators

In [5]:
a = True
b = False

print(a and b)
print(a or b)
print(not a)

False
True
False

Bitwise Operators in python

In [6]:
x = 5
y = 3 

print(x & y)
print(x | y)
print(x ^ y)
print(~x)
print(x << 1)
print(x >> 1)

1
7
6
-6
10
2

Identity Operators

In [7]:
a = [1, 2]
b = a
c = [1, 2]

print(a is b)
print(a is c)
print(a is not c)

True
False
True

Membership Operators

In [8]:
names = ["tarun", "Swamy", "Siva", "Govind"]

print("tarun" in names)
print("Siva" not in names)

True
False

In [9]:
is_active = True
is_logged_in = False

print(is_active)
print(is_logged_in)

True
False

Lists – Ordered, mutable, allows duplicates

In [10]:
fruits = ["apple", "banana", "cherry"]

print(fruits[0])

fruits[1] = "orange"
print(fruits)

fruits.append("grape")
print(fruits)

fruits.insert(1, "kiwi")
print(fruits)

fruits.remove("apple")
print(fruits)

last = fruits.pop()
print(fruits)

print(fruits[1:3])

apple
['apple', 'orange', 'cherry']
['apple', 'orange', 'cherry', 'grape']
['apple', 'kiwi', 'orange', 'cherry', 'grape']
['kiwi', 'orange', 'cherry', 'grape']
['kiwi', 'orange', 'cherry']
['orange', 'cherry']

Common List Methods

In [11]:
fruits = ["apple", "banana", "cherry"]
print(fruits)

fruits.append("mango") 
print(fruits)

fruits.insert(1, "kiwi")
print(fruits)

fruits.remove("banana")
print(fruits)

fruits.pop()
print(fruits)

fruits.sort()
print(fruits)

fruits.reverse()
print(fruits)

fruits.clear()
print(fruits)

['apple', 'banana', 'cherry']
['apple', 'banana', 'cherry', 'mango']
['apple', 'kiwi', 'banana', 'cherry', 'mango']
['apple', 'kiwi', 'cherry', 'mango']
['apple', 'kiwi', 'cherry']
['apple', 'cherry', 'kiwi']
['kiwi', 'cherry', 'apple']
[]

Tuples – Ordered, immutable, allows duplicates

In [12]:
colors = ("red", "green", "blue")

print(colors[0])

print(colors.count("red"))

print(colors.index("green"))

r, g, b = colors
print(r, g, b)

nested = ((1, 2), (3, 4))
print(nested[0][1])

name = ("hello",)
print(type(name))

red
1
1
red green blue
2
<class 'tuple'>

Common Tuple Methods

In [13]:
colors = ("red", "green", "blue")
n=colors.count("green")
print(n)
n=colors.index("blue")
print(n)

1
2

Sets – Unordered, mutable, no duplicates

In [14]:
numbers = {1, 2, 3, 4}

numbers.add(5)
print(numbers)

numbers.remove(2)
print(numbers)

# union
a = {1, 2}
b = {2, 3}
print(a.union(b))

# intersection
print(a.intersection(b)) 

# difference
print(a.difference(b))

{1, 2, 3, 4, 5}
{1, 3, 4, 5}
{1, 2, 3}
{2}
{1}

Common Set Methods

In [15]:
s = {1, 2, 3}

s.add(4)
print(s)

s.remove(2)
print(s)

s.discard(10) 
print(s)

s.pop()
print(s)

s.clear()
print(s)

{1, 2, 3, 4}
{1, 3, 4}
{1, 3, 4}
{3, 4}
set()

conditional statement

In [16]:
x = 10
if x > 5:
    print("x is greater than 5")

x is greater than 5

if-elif-else Statement

In [17]:
age = 16
if age >= 18:
    print("You can vote")
else:
    print("You cannot vote")

You cannot vote

In [18]:
score = 85
if score >= 90:
    print("Grade A")
elif score >= 75:
    print("Grade B")
elif score >= 60:
    print("Grade C")
else:
    print("Grade D")

Grade B

Nested if Statement

In [19]:
num = 10
if num > 0:
    if num % 2 == 0:
        print("Positive even number")
    else:
        print("Positive odd number")
else:
    print("Not a positive number")

Positive even number

In [20]:
day = 4
match day:
    case 1:
        print("Monday")
    case 2:
        print("Tuesday")
    case 3:
        print("Wednesday")
    case 4:
        print("Thursday")
    case 5:
        print("Friday")
    case 6:
        print("Saturday")
    case 7:
        print("Sunday")
    case _:
        print("Invalid day")

Thursday

In [21]:
student = {"name": "durga", "age": 21, "course": "MERN"}

# Access value by key
print(student["name"])

# Add new key-value pair
student["grade"] = "A"

# Update existing value
student["age"] = 22

# Remove key
student.pop("course")

#LOOP
for key, value in student.items():
    print(key, value)

# Check if key exists
print("name" in student)

# Get value with default
print(student.get("marks", 0))

durga
name durga
age 22
grade A
True
0

In [22]:
student = {"name": "durga", "age": 21}

student.get("age")
print(student)

student.keys()
print(student)

student.values()
print(student)

student.items()
print(student)

student.update({"age": 21})
print(student)

student.pop("name")
print(student)

student.clear()
print(student)

{'name': 'durga', 'age': 21}
{'name': 'durga', 'age': 21}
{'name': 'durga', 'age': 21}
{'name': 'durga', 'age': 21}
{'name': 'durga', 'age': 21}
{'age': 21}
{}